* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f6f2;
  color: #2b2b2b;
  font-family: 'Outfit', sans-serif;
}

/* NAVBAR */
.nav {
  position: fixed;
  width: 100%;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
}

/* BRAND */
.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 55px;
}

.title {
  font-family: 'Libre Baskerville', serif;
  color: #1a1a1a;
  font-weight: 600;
}

.subtitle {
  font-size: 0.75rem;
  color: #5a5a5a;
}

/* NAV */
nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #c59d5f;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("images/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.hero h1 {
  font-size: 5.5rem;
  color: #fff;
  text-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.hero p {
  margin: 20px 0;
  background: rgba(255,255,255,0.7);
  padding: 10px;
  border-radius: 8px;
}

/* SECTIONS */
.section {
  padding: 140px 80px;
  text-align: center;
}

.dark {
  background: #f1eee9;
}

/* ROOMS */
.room {
  display: flex;
  gap: 60px;
  margin-top: 100px;
}

.room.reverse {
  flex-direction: row-reverse;
}

.room img {
  width: 50%;
  border-radius: 20px;
}

.room-text {
  width: 50%;
  text-align: left;
}

/* BUTTON */
.btn {
  background: #c59d5f;
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
}

/* BOOKING SECTION */
.booking-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.booking-btn {
  padding: 12px 25px;
  border: 1px solid #c59d5f;
  border-radius: 25px;
  color: #c59d5f;
  text-decoration: none;
}

.booking-btn:hover {
  background: #c59d5f;
  color: white;
}

.contact-box {
  margin-top: 40px;
  background: #f8f6f2;
  padding: 25px;
  border-radius: 10px;
}
